.login-user {
  display: flex;
  justify-content: space-between;
}

.logout-button {
  width: 100px;
}

.graphs-container {
  margin-top: 50px;
}

.profile-update {
  color: white;
  text-decoration: double;
  background-color: teal;
}
